/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 22, 2015, 11:35:17 PM
    Author     : Sk Mamtajuddin
*/

.modal.modal-wide .modal-dialog {
  width: 60%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

.table th{
    font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    font-weight:500;
    line-height:16px;
    color:#fff;
    text-shadow:0 -1px 0 rgba(0,0,0,0.4);
    -webkit-box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.2);
    -moz-box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.2);
    box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.2);
    background-color:#84969e;
/*    background-image:-moz-linear-gradient(top,#909fa7,#738791);
    background-image:-ms-linear-gradient(top,#909fa7,#738791);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#909fa7),to(#738791));
    background-image:-webkit-linear-gradient(top,#909fa7,#738791);
    background-image:-o-linear-gradient(top,#909fa7,#738791);
    background-image:linear-gradient(top,#909fa7,#738791);*/
    background-repeat:repeat-x;
    border-top:1px solid rgba(0,0,0,0.1);
    border-bottom:1px solid rgba(0,0,0,0.2)
}
.Approved{
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.Pending {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.Reject{
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.Submited{
  color: #fff;
  background-color: #84969e;
  border-color: #d43f3a;
}